<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
    <%- include("partials/styles") %>

</head>

<body>

    
    <%- include("partials/scripts") %>
    <script src="/scripts/models/hexagon.js"></script>
    <script src="/scripts/models/board.js"></script>
    <script src="/scripts/sketch.js"></script>
</body>

</html>