*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
}

.absolute {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}
